@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar {
  overflow: hidden; /* Hide all overflow (default behavior) */
}

.hide-scrollbar::-webkit-scrollbar,
.hide-scrollbar::-moz-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Added CSS for the .scrollbar-hidden class */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden .max-w-2xl {
  overflow: hidden;
}
.recharts-label{
  font-size: 12px;
}
.recharts-legend-wrapper{
  bottom:-5px!important;
}
.graph-icon::after{
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/assets/images/blog1-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
}